/* Make lightbox image wider */
.lightbox .lb-image {
    max-width: 95vw !important; /* wider image */
    max-height: 90vh !important; /* taller image */
}

/* Enlarge caption text if needed */
.lightbox .lb-caption {
    font-size: 18px;
    color: #fff;
}
.github-link {
    margin-top: 10px;
}

    .github-link img {
        transition: transform 0.2s ease;
    }

        .github-link img:hover {
            transform: scale(1.2);
        }

