<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>AMee HTML5 Personal Portfolio Template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="~/site.webmanifest" />
    <link rel="shortcut icon" type="image/png" href="~/img/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@300;400;600;700&display=swap"
          rel="stylesheet" />
    <!-- Lightbox CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()


    <!-- Scroll Up Button -->
    <a href="#scrolltop" class="scrollup"><i class="fa fa-angle-up"></i></a>






    
    
    <!-- JS -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js" asp-append-version="true"></script>
    <script src="~/js/vendor/jquery-3.2.1.min.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.slicknav.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-sticky-menu.js" asp-append-version="true"></script>
    <script src="~/js/imageloded.min.js" asp-append-version="true"></script>
    <script src="~/js/isotop.min.js" asp-append-version="true"></script>
    <script src="~/js/easing-min.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <!-- Lightbox JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script>
    <script>
        async function loadWeather() {
            try {
                const response = await fetch('/api/weather');
                const data = await response.json();

                const temp = data.main.temp.toFixed(1);
                const city = data.name;
                const description = data.weather[0].description;
                const icon = data.weather[0].icon;

                document.getElementById('weather-content').innerHTML = `
                    <div class="d-flex align-items-center">
                       <img src="https://openweathermap.org/img/wn/${icon}@@2x.png" alt="${description}" style="width: 50px; height: 50px;">

                        <div class="ms-3">
                            <div><strong>${city}</strong></div>
                            <div>${temp}°C, ${description}</div>
                        </div>
                    </div>
                `;
            } catch (error) {
                document.getElementById('weather-content').innerText = 'Failed to load weather.';
            }
        }

        loadWeather();
    </script>


    @await RenderSectionAsync("Toasts", required: false)
</body>


</html>
