@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




    <!-- prelaoder start -->
    <div id="preloader-wrapper">
        <div class="preloader-wave-effect"></div>
    </div>
    <!-- prelaoder end -->
    <header class="sticky-header">
        <div class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-4">
                        <div class="logo">
                            <a href="index.html"><h1><span>..Am</span>ee</h1></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-sm-8 d-none d-lg-block ">
                        <div class="header-menu">
                            <ul class=" mobail-menu d-flex">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                              
                            
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 d-block d-lg-none">
                        <div class="menu">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-area end -->
    <!-- slider-area start -->
    <div id="home" class="slider-area">
        <div class="social-area d-flex">
            <ul class="d-flex">
                <li>
                    <a href="https://www.facebook.com/share/1BcYCU3fjy/?mibextid=wwXIfr" target="_blank">
                        <i class="fa fa-facebook"></i> Facebook
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/ahmadolabi7?igsh=MXY1ZXZlODc2anA2aQ%3D%3D&utm_source=qr" target="_blank">
                        <i class="fa fa-instagram"></i> Instagram
                    </a>
                </li>
                <li>
                    <a href="https://se.linkedin.com/in/ahmad-alolabi-773683140?trk=people-guest_people_search-card/" target="_blank">
                        <i class="fa fa-linkedin"></i> LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://github.com/acke7" target="_blank">
                        <i class="fa fa-github"></i> GitHub
                    </a>
                </li>
            </ul>

        </div>


        <div class="slider-active owl-carousel">
            <div class="single-slider" style="background-image: url('/img/slider/1.png'); background-size: cover; background-position: center; height: 683px;">
                <div class="container">
                    <div class="slider-content">
                        <div class="col-lg-5 col-md-8">
                            <span>Hi</span>
                            <h4>I Am Ahmad Alolabi</h4>
                            <h2>Full Stack .Net Developer <span class="d-block">Web Designer</span></h2>
                            <div class="btn-style btn-style2 btn-sub"><a href="#">see more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- slider-area end -->
    <!-- service-area start -->
    <div class="service-area">
        <div class="container">
            <div class="service-item">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-single">
                            <span><i class="fa fa-database" aria-hidden="true"></i></span>
                            <h2>Back-End Development</h2>
                            <p>I develop secure and scalable APIs using ASP.NET Core and Entity Framework, with strong experience in SQL Server and clean architecture.</p>
                         @*    <a href="#">Read More...</a> *@
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-single">
                            <span><i class="fa fa-code" aria-hidden="true"></i></span>
                            <h2>Front-End Development</h2>
                            <p>I build modern, responsive web interfaces using Razor Pages, MVC, HTML, CSS, Bootstrap, and JavaScript, with an eye for clean UX.</p>
                          @*   <a href="#">Read More...</a> *@
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-single">
                            <span><i class="fa fa-cloud-upload" aria-hidden="true"></i></span>
                            <h2>Deployment & Hosting</h2>
                            <p>I deploy and maintain .NET applications on Azure and Linux servers, using Git, CI/CD, and proper configuration management.</p>
                           @*  <a href="#">Read More...</a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- service-area end -->
    <!-- about-area start -->
    <!-- about-area start -->
    <div id="about" class="about-area">
        <div class="container">
            <div class="about-item">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="about-img">
                            <img src="img/about/1.png" alt="Ahmad Alolabi">
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <div class="about-content">
                            <h2>About Me</h2>
                            <p>Hi, I'm Ahmad Alolabi — a passionate .NET Developer with hands-on experience building full-stack applications using ASP.NET Core, Razor Pages, Entity Framework, and modern web technologies. I focus on writing clean, scalable, and maintainable code and love working on meaningful projects that solve real problems.</p>
                            <p>I’m continuously improving my skills in backend and frontend development, and I enjoy bringing designs to life while ensuring solid architecture behind the scenes.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>z
    <!-- about-area end -->
    <!-- about-area end -->
    <!-- protfolio-area start -->
<div id="portfolio" class="prtfolio-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>My Works</h2>
                </div>
            </div>
        </div>

        <div class="row grid">
            <div class="col-lg-4 grid-item cat1 cat5 cat4 col-sm-6">
                <div class="protfolio-img">
                    <a href="img/protfolio/5.png" data-lightbox="portfolio" data-title="Mock Up Design">
                        <img src="img/protfolio/5.png" alt="Mock Up Design">
                    </a>
                    <div class="protfolio-content">
                        <h4>Mock Up Design</h4>
                        <span>Print Design</span>
                        <div class="github-link mt-2">
                            <a href="https://github.com/your-username/project-1" target="_blank" title="View on GitHub">
                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
                                     alt="GitHub" style="width: 24px; height: 24px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 grid-item cat1 cat5 cat3 col-sm-6">
                <div class="protfolio-img">
                    <a href="img/protfolio/4.png" data-lightbox="portfolio" data-title="Mock Up Design">
                        <img src="img/protfolio/4.png" alt="Mock Up Design">
                    </a>
                    <div class="protfolio-content">
                        <h4>Mock Up Design</h4>
                        <span>Print Design</span>
                        <div class="github-link mt-2">
                            <a href="https://github.com/your-username/project-2" target="_blank" title="View on GitHub">
                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
                                     alt="GitHub" style="width: 24px; height: 24px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 grid-item cat5 cat2 cat3 col-sm-6">
                <div class="protfolio-img">
                    <a href="img/protfolio/6.png" data-lightbox="portfolio" data-title="Mock Up Design">
                        <img src="img/protfolio/6.png" alt="Mock Up Design">
                    </a>
                    <div class="protfolio-content">
                        <h4>Mock Up Design</h4>
                        <span>Print Design</span>
                        <div class="github-link mt-2">
                            <a href="https://github.com/your-username/project-3" target="_blank" title="View on GitHub">
                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
                                     alt="GitHub" style="width: 24px; height: 24px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <section class="profile py-5 text-white" style="background-color: #000;">
        <div class="container py-4">
            <div class="row mb-5">
                <div class="col-md-6">
                    <h3 class="text-uppercase fw-bold text-warning mb-4">Profile</h3>
                    <p class="text-light">
                        Here is some more info about myself to help you get to know me better.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item mb-3 bg-transparent text-light border-0">
                            <h5><i class="fas fa-user text-warning me-2"></i> Full Name:</h5>
                            <p class="ms-4">Ahmad Alolabi</p>
                        </li>
                        <li class="list-group-item mb-3 bg-transparent text-light border-0">
                            <h5><i class="fas fa-calendar text-warning me-2"></i> Birth Date:</h5>
                            <p class="ms-4">August 11, 1993</p>
                        </li>
                        <li class="list-group-item mb-3 bg-transparent text-light border-0">
                            <h5><i class="fas fa-building text-warning me-2"></i> Current Position:</h5>
                            <p class="ms-4">KYH .NET</p>
                        </li>
                        <li class="list-group-item mb-3 bg-transparent text-light border-0">
                            <h5><i class="fas fa-home text-warning me-2"></i> Website:</h5>
                            <p class="ms-4">Alolabi.site</p>
                        </li>
                       @*  <li class="list-group-item mb-3 bg-transparent text-light border-0">
                            <h5><i class="fas fa-envelope text-warning me-2"></i> Email:</h5>
                            <p class="ms-4">ahmad1alolabi@gmail.com</p>
                        </li> *@
                    <li class="list-group-item mb-3 bg-transparent text-light border-0">
                        <h5><i class="fas fa-cloud text-warning me-2"></i> Current Weather:</h5>
                        <div id="weather-content" class="ms-4">Loading weather...</div>
                    </li>
                    </ul>
                </div>

                <div class="col-md-6 mt-5 mt-md-0">
                    <h3 class="text-uppercase fw-bold text-warning mb-4">Skills</h3>
                   
                    <!-- Skill bars -->
                    <div class="mb-3">
                        <h5><i class="fas fa-check text-warning me-2"></i> HTML 5</h5>
                        <div class="progress">
                            <div class="progress-bar bg-warning" style="width: 100%">100%</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h5><i class="fas fa-check text-warning me-2"></i> CSS</h5>
                        <div class="progress">
                            <div class="progress-bar bg-warning" style="width: 90%">90%</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h5><i class="fas fa-check text-warning me-2"></i> JavaScript</h5>
                        <div class="progress">
                            <div class="progress-bar bg-warning" style="width: 90%">90%</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h5><i class="fas fa-check text-warning me-2"></i> Bootstrap</h5>
                        <div class="progress">
                            <div class="progress-bar bg-warning" style="width: 100%">100%</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h5><i class="fas fa-check text-warning me-2"></i> C#</h5>
                        <div class="progress">
                            <div class="progress-bar bg-warning" style="width: 75%">75%</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h5><i class="fas fa-check text-warning me-2"></i> SQL</h5>
                        <div class="progress">
                            <div class="progress-bar bg-warning" style="width: 70%">70%</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h5><i class="fas fa-check text-warning me-2"></i> GIT</h5>
                        <div class="progress">
                            <div class="progress-bar bg-warning" style="width: 80%">80%</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4 ">
                <div class="col-12">

                <a href="/files/Ahmad_Alolabi_CV_Swedish.pdf" download class="btn btn-warning btn-lg text-uppercase px-5 mx-3 my-2">
                    Download CV
                </a>
                </div>
            </div>
        </div>
    </section>

    <!-- protfolio-area end -->
    <!-- testimonial-area start -->
    <div class="testimonial-area">
        @{
            string fullName = "John Doe";
            // Yellow background: FFD700, Black text: 000000
            string avatarUrl = $"https://ui-avatars.com/api/?name={Uri.EscapeDataString(fullName)}&background=FFD700&color=000000&size=128";
        }

        <div class="container">
            <div class="testimonial-active owl-carousel">
                <div class="testimonial-single text-center">
                    <div class="testimonial-content">
                        <p><i class="fa fa-quote-left" aria-hidden="true"></i> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                        <h4>@fullName</h4>
                        <span>CEO of Business Deal</span>
                    </div>
                    <div class="testimonial-img">
                        <img src="@avatarUrl" alt="@fullName" />
                    </div>
                </div>
            </div>
        </div>
          @*       <div class="testimonial-single text-center">
                    <div class="testimonial-content">
                        <p><i class="fa fa-quote-left" aria-hidden="true"></i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                        <h4>John Doe</h4>
                        <span>CEO of Business Deal</span>
                    </div>
                    <div class="testimonial-img">
                        <img src="img/testimonial/1.png" alt="">
                    </div>
                </div>
                <div class="testimonial-single text-center">
                    <div class="testimonial-content">
                        <p><i class="fa fa-quote-left" aria-hidden="true"></i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                        <h4>John Doe</h4>
                        <span>CEO of Business Deal</span>
                    </div>
                    <div class="testimonial-img">
                        <img src="img/testimonial/2.png" alt="">
                    </div>
                </div> *@
            </div>
    
    <!-- testimonial-area end -->
    <!-- news-area start -->
 @*    <div id="blog" class="news-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title section-title2 text-center">
                        <h2>Latest News</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="news-single">
                        <div class="news-img">
                            <img src="img/news/1.jpg" alt="">
                        </div>
                        <div class="news-content">
                            <h4>Everything is easy when you think it easy</h4>
                            <a href="#">By : Admin</a>
                            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                            <div class="btn-2"><a href="#">Read More</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="news-single">
                        <div class="news-img">
                            <img src="img/news/2.jpg" alt="">
                        </div>
                        <div class="news-content">
                            <h4>Everything is easy when you think it easy</h4>
                            <a href="#">By : Admin</a>
                            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                            <div class="btn-2"><a href="#">Read More</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="news-single">
                        <div class="news-img">
                            <img src="img/news/3.jpg" alt="">
                        </div>
                        <div class="news-content">
                            <h4>Everything is easy when you think it easy</h4>
                            <a href="#">By : Admin</a>
                            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                            <div class="btn-2"><a href="#">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
    <!-- news-area end -->
    <!-- contact area start -->
    <div id="contact" class="contact-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title section-title2 text-center">
                        <h2>Contact Me</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Contact Info -->
                <div class="col-lg-3 col-md-4">
                    <div class="contact-info">
                        <h4>Contact Info.</h4>
                        <ul>
                            <li><i class="fa fa-map-marker"></i> Stockholm, Sweden</li>
                        </ul>
                        <ul>
                            <li><i class="fa fa-mobile"></i> +46 72 866 89 80</li>
                        </ul>
                        <ul>
                            <li><i class="fa fa-envelope"></i> ahmadalolabi@outlook.com</li>
                        </ul>
                    </div>
                </div>

                <!-- Contact Form -->
                <div class="col-lg-9 col-md-8">
                    <div class="form-area">
                        <h4 class="comment-title">Send Your Message</h4>
                        <p class="cnt-subtitle">Feel free to reach out for work inquiries or collaboration.</p>
                        <div class="screen-reader-response"></div>
                        <form method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="Name" placeholder="Your Name" required />
                                </div>
                                <div class="col-md-6">
                                    <input type="email" name="Email" placeholder="Your Email" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" id="subject" name="Subject" placeholder="Subject" required />
                                </div>
                            </div>
                            <textarea name="Message" id="msg" placeholder="Type your message here..." rows="5" required></textarea>
                            <input type="submit" name="submit" id="c_submit" value="Submit Now">
                        </form>
                 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- contact area end -->
    <!-- footer-area start -->
    <div class="footer-area">
        <div class="container">
            <div class="footer-item">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="footer-single">
                            <ul>
                                <li>
                                    <a href="tel:+46728668980">
                                        <span><i class="fa fa-phone"></i></span>
                                        +46 72 866 89 80
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="footer-single">
                            <ul>
                                <li>
                                <a href="#">
                                <span><i class="fa fa-map-marker"></i></span>
                                Stockholm, Sweden
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="footer-single">
                            <ul>
                                <li>
                                <a href="mailto:ahmadalolabi@outlook.com">
                                    <span><i class="fa fa-envelope"></i></span>
                                    ahmadalolabi@outlook.com
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer-area end -->
    <!-- footer-sub-area start-->
    <div class="footer-sub-area">
        <div class="container">
            <div class="footer-sub-content">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <span>2025 Your Website Name All Right Reserved</span>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <ul class="d-flex">
                            <li><a href="#">home</a></li>
                            <li><a href="#">blog</a></li>
                            <li><a href="#">contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


