@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<!-- preloader start -->
<div id="preloader-wrapper">
    <div class="preloader-wave-effect"></div>
</div>
<!-- preloader end -->
<header class="sticky-header">
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-4">
                    <div class="logo">
                        <a href="index.html"><h1><span>..Ahmad</span>Alolabi</h1></a>
                    </div>
                </div>
                <div class="col-lg-9 col-sm-8 d-none d-lg-block ">
                    <div class="header-menu">
                        <ul class="mobail-menu d-flex">
                            <li><a href="#home">Hem</a></li>
                            <li><a href="#about">Om mig</a></li>
                            <li><a href="#portfolio">Portfolio</a></li>
                            <li><a href="#contact">Kontakt</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 d-block d-lg-none">
                    <div class="menu">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- slider-area start -->
<div id="home" class="slider-area">
    <div class="social-area d-flex">
        <ul class="d-flex">
            <li>
                <a href="https://www.facebook.com/share/1BcYCU3fjy/?mibextid=wwXIfr" target="_blank">
                    <i class="fa fa-facebook"></i> Facebook
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/ahmadolabi7?igsh=MXY1ZXZlODc2anA2aQ%3D%3D&utm_source=qr" target="_blank">
                    <i class="fa fa-instagram"></i> Instagram
                </a>
            </li>
            <li>
                <a href="https://se.linkedin.com/in/ahmad-alolabi-773683140?trk=people-guest_people_search-card/" target="_blank">
                    <i class="fa fa-linkedin"></i> LinkedIn
                </a>
            </li>
            <li>
                <a href="https://github.com/acke7" target="_blank">
                    <i class="fa fa-github"></i> GitHub
                </a>
            </li>
        </ul>
    </div>

    <div class="slider-active owl-carousel">
        <div class="single-slider" style="background-image: url('/img/slider/5.jpg'); background-size: cover; background-position: center; height: 683px;">
            <div class="container">
                <div class="slider-content">
                    <div class="col-lg-5 col-md-8">
                        <span>Hej</span>
                        <h4>Jag är Ahmad Alolabi</h4>
                        <h2>Fullstack .Net Utvecklare <span class="d-block">Webbdesigner</span></h2>
                        <div class="btn-style btn-style2 btn-sub"><a href="#about">Se mer</a></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- service-area start -->
<div class="service-area">
    <div class="container">
        <div class="service-item">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-single">
                        <span><i class="fa fa-database" aria-hidden="true"></i></span>
                        <h2>Back-End Utveckling</h2>
                        <p>Jag utvecklar säkra och skalbara API:er med ASP.NET Core och Entity Framework, med stark erfarenhet av SQL Server och ren arkitektur.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-single">
                        <span><i class="fa fa-code" aria-hidden="true"></i></span>
                        <h2>Front-End Utveckling</h2>
                        <p>Jag bygger moderna, responsiva webbgränssnitt med Razor Pages, MVC, HTML, CSS, Bootstrap och JavaScript, med fokus på snygg UX.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-single">
                        <span><i class="fa fa-cloud-upload" aria-hidden="true"></i></span>
                        <h2>Deployment & Hosting</h2>
                        <p>Jag distribuerar och underhåller .NET-applikationer på Azure och Linux-servrar, med Git, CI/CD och korrekt konfigurationshantering.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about-area start -->
<div id="about" class="about-area">
    <div class="container">
        <div class="about-item">
            <div class="row">
                <div class="col-lg-5">
                    <div class="about-img">
                        <img src="img/about/1.png" alt="Ahmad Alolabi">
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="about-content">
                        <h2>Om Mig</h2>
                        <p>Hej, jag heter Ahmad Alolabi — en passionerad .NET-utvecklare med praktisk erfarenhet av att bygga fullstack-applikationer med ASP.NET Core, Razor Pages, Entity Framework och moderna webbteknologier. Jag fokuserar på att skriva ren, skalbar och underhållbar kod och älskar att arbeta med meningsfulla projekt som löser verkliga problem.</p>
                        <p>Jag förbättrar ständigt mina färdigheter inom backend- och frontendutveckling och tycker om att förverkliga designer samtidigt som jag säkerställer en solid arkitektur bakom kulisserna.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- portfolio-area start -->
<div id="portfolio" class="prtfolio-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>Mina Arbeten</h2>
                </div>
            </div>
        </div>

        <div class="row grid">
            <div class="col-lg-4 grid-item cat1 cat5 cat4 col-sm-6">
                <div class="protfolio-img">
                    <a href="img/protfolio/5.png" data-lightbox="portfolio" data-title="Arkitekturportfolio">
                        <img src="img/protfolio/5.png" alt="Mock Up Design">
                    </a>
                    <div class="protfolio-content">
                        <h4>Arkitekturportfolio</h4>
                        <span>Printdesign</span>
                        <div class="github-link mt-2">
                            <a href="https://github.com/Acke7/ArchitectureWebsite" target="_blank" title="Visa på GitHub">
                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
                                     alt="GitHub" style="width: 24px; height: 24px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 grid-item cat1 cat5 cat3 col-sm-6">
                <div class="protfolio-img">
                    <a href="img/protfolio/4.png" data-lightbox="portfolio" data-title="Mitt Portfolio API">
                        <img src="img/protfolio/4.png" alt="Mock Up Design">
                    </a>
                    <div class="protfolio-content">
                        <h4>Mitt Portfolio API</h4>
                        <span>Printdesign</span>
                        <div class="github-link mt-2">
                            <a href="https://github.com/Acke7/DotNetPortfolio" target="_blank" title="Visa på GitHub">
                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
                                     alt="GitHub" style="width: 24px; height: 24px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 grid-item cat5 cat2 cat3 col-sm-6">
                <div class="protfolio-img">
                    <a href="img/protfolio/6.png" data-lightbox="portfolio" data-title="Bankapp">
                        <img src="img/protfolio/6.png" alt="Mock Up Design">
                    </a>
                    <div class="protfolio-content">
                        <h4>Bankapp</h4>
                        <span>Printdesign</span>
                        <div class="github-link mt-2">
                            <a href="https://github.com/Acke7/BankAppMVC" target="_blank" title="Visa på GitHub">
                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
                                     alt="GitHub" style="width: 24px; height: 24px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="profile py-5 text-white" style="background-color: #000;">
    <div class="container py-4">
        <div class="row mb-5">
            <div class="col-md-6">
                <h3 class="text-uppercase fw-bold text-warning mb-4">Profil</h3>
                <p class="text-light">
                    Här är lite mer information om mig så att du kan lära känna mig bättre.
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item mb-3 bg-transparent text-light border-0">
                        <h5><i class="fas fa-user text-warning me-2"></i> Fullständigt namn:</h5>
                        <p class="ms-4">Ahmad Alolabi</p>
                    </li>
                    <li class="list-group-item mb-3 bg-transparent text-light border-0">
                        <h5><i class="fas fa-calendar text-warning me-2"></i> Födelsedatum:</h5>
                        <p class="ms-4">11 augusti 1993</p>
                    </li>
                    <li class="list-group-item mb-3 bg-transparent text-light border-0">
                        <h5><i class="fas fa-building text-warning me-2"></i> Nuvarande position:</h5>
                        <p class="ms-4">KYH .NET</p>
                    </li>
                    <li class="list-group-item mb-3 bg-transparent text-light border-0">
                        <h5><i class="fas fa-home text-warning me-2"></i> Webbplats:</h5>
                        <p class="ms-4">Alolabi.site</p>
                    </li>
                    <li class="list-group-item mb-3 bg-transparent text-light border-0">
                        <h5><i class="fas fa-cloud text-warning me-2"></i> Aktuellt väder:</h5>
                        <div id="weather-content" class="ms-4">Laddar väder...</div>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 mt-5 mt-md-0">
                <h3 class="text-uppercase fw-bold text-warning mb-4">Färdigheter</h3>

                <div class="mb-3">
                    <h5><i class="fas fa-check text-warning me-2"></i> HTML 5</h5>
                    <div class="progress">
                        <div class="progress-bar bg-warning" style="width: 100%">100%</div>
                    </div>
                </div>

                <div class="mb-3">
                    <h5><i class="fas fa-check text-warning me-2"></i> CSS</h5>
                    <div class="progress">
                        <div class="progress-bar bg-warning" style="width: 90%">90%</div>
                    </div>
                </div>

                <div class="mb-3">
                    <h5><i class="fas fa-check text-warning me-2"></i> JavaScript</h5>
                    <div class="progress">
                        <div class="progress-bar bg-warning" style="width: 90%">90%</div>
                    </div>
                </div>

                <div class="mb-3">
                    <h5><i class="fas fa-check text-warning me-2"></i> Bootstrap</h5>
                    <div class="progress">
                        <div class="progress-bar bg-warning" style="width: 100%">100%</div>
                    </div>
                </div>

                <div class="mb-3">
                    <h5><i class="fas fa-check text-warning me-2"></i> C#</h5>
                    <div class="progress">
                        <div class="progress-bar bg-warning" style="width: 75%">75%</div>
                    </div>
                </div>

                <div class="mb-3">
                    <h5><i class="fas fa-check text-warning me-2"></i> SQL</h5>
                    <div class="progress">
                        <div class="progress-bar bg-warning" style="width: 70%">70%</div>
                    </div>
                </div>

                <div class="mb-3">
                    <h5><i class="fas fa-check text-warning me-2"></i> GIT</h5>
                    <div class="progress">
                        <div class="progress-bar bg-warning" style="width: 80%">80%</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <a href="/files/CV-Ahmad Alolabi.pdf" download class="btn btn-warning btn-lg text-uppercase px-5 mx-3 my-2">
                    Ladda ner CV
                </a>
            </div>
        </div>
    </div>
</section>

<!-- contact area start -->
<div id="contact" class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title section-title2 text-center">
                    <h2>Kontakta Mig</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="contact-info">
                    <h4>Kontaktinformation</h4>
                    <ul>
                        <li><i class="fa fa-map-marker"></i> Stockholm, Sverige</li>
                    </ul>
                    <ul>
                        <li><i class="fa fa-mobile"></i> +46 72 866 89 80</li>
                    </ul>
                    <ul>
                        <li><i class="fa fa-envelope"></i> ahmadalolabi@outlook.com</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="form-area">
                    <h4 class="comment-title">Skicka ditt meddelande</h4>
                    <p class="cnt-subtitle">Tveka inte att höra av dig för arbetsförfrågningar eller samarbeten.</p>
                    <form method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="Name" placeholder="Ditt namn" required />
                            </div>
                            <div class="col-md-6">
                                <input type="email" name="Email" placeholder="Din e-post" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" id="subject" name="Subject" placeholder="Ämne" required />
                            </div>
                        </div>
                        <textarea name="Message" id="msg" placeholder="Skriv ditt meddelande här..." rows="5" required></textarea>
                        <input type="submit" name="submit" id="c_submit" value="Skicka nu">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer-area start -->
<div class="footer-area">
    <div class="container">
        <div class="footer-item">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer-single">
                        <ul>
                            <li>
                                <a href="tel:+46728668980">
                                    <span><i class="fa fa-phone"></i></span>
                                    +46 72 866 89 80
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer-single">
                        <ul>
                            <li>
                                <a href="#">
                                    <span><i class="fa fa-map-marker"></i></span>
                                    Stockholm, Sverige
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer-single">
                        <ul>
                            <li>
                                <a href="mailto:ahmadalolabi@outlook.com">
                                    <span><i class="fa fa-envelope"></i></span>
                                    ahmadalolabi@outlook.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-sub-area">
    <div class="container">
        <div class="footer-sub-content">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <span>2025 Din Webbplats Alla Rättigheter Förbehållna</span>
                </div>
            </div>
        </div>
    </div>
</div>
</
